certifi==2025.4.26
charset-normalizer==3.4.2
edgegrid-python==2.0.1
idna==3.10
python-dotenv==1.1.0
requests==2.32.3
requests-toolbelt==1.0.0
urllib3==2.4.0


# SQL Server access via pyodbc
pyodbc==5.1.0
